# dependencies
/node_modules

# vite
/dist/

# playwright
/.playwright-cli/
/.playwright/
/playwright-report/
/blob-report/
/test-results/

# misc
.DS_Store
**/.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.*
!.env.example
.env*.local

# typescript
*.tsbuildinfo

.vscode/
.agents/
.local/
notes/
