.header {
  grid-area: header;
  background: #1d032d !important;
  border: 0;
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 20%);
  font-family: "Alegreya Sans", sans-serif;
  padding: 5px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
